<h1>Your Borrowed Books</h1>
<ul>
  <% @borrowings.each do |borrowing| %>
    <li>
      <%= borrowing.book.title %> - Due on <%= borrowing.due_date %>
      <%= button_to "Return Book", return_book_borrowing_path(borrowing), method: :delete %>
    </li>
  <% end %>
</ul>
